.container-fluid {
  padding-top: 50px;
}

#toolbox {
  padding: 8px 0;
  text-align: center;
}

#toolbox ul {
  text-align: left;
}

#canvas {
  border:1px solid #ccc;
}

#selection {
  margin-top: 2em; padding: 1em;
}

#selection h6 {
  padding-bottom: 0.5em;
}

#selection #restore {
  margin-left: 1em;
}

#palette-export {
  margin-top: 2em;
}

ol.instructions {
  margin-top: 2em;
}

ol.instructions li {
  margin-bottom: 2em;
}

ol.instructions li img, ol.instructions li pre {
  margin-top: 0.5em;
}

ol.instructions ol {
  list-style-type: lower-latin;
}

ol.instructions ol li {
  margin-top: 1em;
}