// Hide inactive Spine.js controllers
.stack > *:not(.active) {
  display: none;
}

body {
  overflow-y: scroll;
  padding-top: 70px;
  padding-bottom: 70px;
}

.jumbotron {
  padding: 30px 60px;
}

#canvas {
  border: 1px solid #ccc;
}

#selection {
  margin-top: 2em;
}

#export-palette-header {
  margin-top: -1em;
}

ol.instructions {
  margin-top: 2em;
  li {
    margin-bottom: 2em;
    img, pre {
      margin-top: 0.5em;
    }
  }
  ol {
    list-style-type: lower-latin;
    li {
      margin-top: 1em;
    }
  }
}

.CodeMirror {
  border: 1px solid #ccc;
}